<div class="order row">
    <p class="order__id order__property">{{order.id}}</p>
    <p class="order__date order__property">{{order.created|date:'MMM dd HH:mm'}}</p>
    <p class="order__status order__property">
        <select [(ngModel)]="orderStatus" (ngModelChange)="changeStatus()">
            <option *ngFor="let status of statuses" [value]="status.id">
                {{ status.name }}
            </option>
        </select>
    </p>
    <p class="order__user order__property">
        {{ order.owner.email }}
    </p>
    <p class="order__price order__property">{{order.final_price}}</p>
</div>