<div class="window profile" >
    <img [src]="apiUrl + profile?.profile_image" alt="" class="profile__avatar">

    <div class="profile__fields">
        <span class="field">
            <span class="field__title">Имя:</span>
            <span class="field__value">{{profile?.name}}</span>
        </span>
        <span class="field">
            <span class="field__title">Фамилия:</span>
            <span class="field__value">{{profile?.last_name}}</span>
        </span>
        <span class="field">
            <span class="field__title">Email:</span>
            <span class="field__value">{{profile?.email}}</span>
        </span>
        <span class="field">
            <span class="field__title">Телефон:</span>
            <span class="field__value">{{profile?.phone}}</span>
        </span>
        <!-- <span class="field">
            <span class="field__title">Имя:</span>
            <span class="field__value">{{profile?.name}}</span> -->
        <!-- </span> -->
    </div>
    <!-- <h2 class="window__title">Вход</h2>
    <fieldset>
        <input type="email" placeholder="E-mail" autocomplete="email" class="inp-primary" formControlName="email">
        <input type="password" formControlName="password" placeholder="Пароль" class="inp-primary">
    </fieldset>

    <button class="btn-primary window__btn" [disabled]="loading">
        <btn-loader text="Войти" [loading]="loading"></btn-loader>
    </button>

    <a routerLink="/auth/registration">Регистрация</a> -->

    <svg id="btn-logout" (click)="auth.logout('/')" xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none">
        <path d="M15.8926 35H9.22591C8.34186 35 7.49401 34.6488 6.86889 34.0237C6.24377 33.3986 5.89258 32.5507 5.89258 31.6667V8.33333C5.89258 7.44928 6.24377 6.60143 6.86889 5.97631C7.49401 5.35119 8.34186 5 9.22591 5H15.8926" stroke="#7E7979" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M27.5596 28.3334L35.8929 20.0001L27.5596 11.6667" stroke="#7E7979" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M35.8926 20H15.8926" stroke="#7E7979" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</div>

<ngx-spinner *ngIf="loading" style="width: 0px; height: 0px;"
[fullScreen]="false"
type="ball-clip-rotate"
bdColor="#F2F3F550"
size="medium"
></ngx-spinner>