
.pass-inp-wrapper{
    position: relative;
    display: grid;
    input{
        padding-right: 25px;
    }
    .eye-icon{
        cursor: pointer;
        position: absolute;
        right: 7px;
        top: 50%;
        transform: translate(0, -50%);
    }
}