:host{
    display: grid;
}

.window{
    padding: 65px 20px 30px;
    max-width: 670px;
    width: 100%;
    align-self: center;
    justify-self: center;
}

fieldset{
    row-gap: 25px;
    max-width: 440px;
    width: 100%;
}


.btn-primary{
    max-width: 230px;
    width: 90%;
    margin-top: 20px;
}

a{
    color: #FF7A00;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-top: 5px;
}