:host{
    display: grid;
    // grid-template-rows: auto 1fr;
    align-content: center;
    row-gap: 20px;
    padding: 20px 0px;
}

:host > *{
    max-width: 980px;
    width: 100%;
    justify-self: center;
}

.title{
    line-height: 100%;
    font-size: 24px;
    color: #7E7979;
}

.cart{
    display: grid;
    row-gap: 15px;
    align-content: center;
    position: relative;
    min-height: 300px;
}


.order{
    display: grid;
    row-gap: 5px;
    justify-items: end;

    &__currency{
        display: inline-block;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        background-color: #FF7A0070;
    }

    &__make{
        font-weight: 500;
    }
}

.total{
    &__price{
        font-weight: 600;
    }
}

