$phone-size: 760px;

:host{
    grid-template-rows: auto 1fr auto;
    row-gap: 20px;
}

main{
    display: grid;
    padding: 0px 40px;
    @media screen and ( max-width: $phone-size ) {
        padding: 0px 20px;
    }
}