<div class="card user">
    <p class="user__property row property">
        <span class="property__title">ID:</span>
        <span class="property__value">{{user.id}}</span>
    </p>
    <p class="user__property row property">
        <span class="property__title">Имя:</span>
        <span class="property__value">{{user.name}}</span>
    </p>
    <p class="user__property row property">
        <span class="property__title">Фамилия:</span>
        <span class="property__value">{{user.last_name}}</span>
    </p>
    <p class="user__property row property">
        <span class="property__title">Телефон:</span>
        <span class="property__value"> {{ user.phone }} </span>
    </p>
    <p class="user__property row property">
        <span class="property__title">Почта:</span>
        <span class="property__value"> {{ user.email }} </span>
    </p>
</div>