@import '/src/environments/device-sizes.scss';

:host{
    display: grid;
}

.window{
    padding: 65px 20px 30px;
    max-width: 670px;
    width: 100%;
    align-self: center;
    justify-self: center;
}

.fields{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
    @media screen and ( max-width: $tab-size ) {
        grid-template-columns: 1fr;
    }
    justify-self: center;

    width: 100%;

    @media screen and ( max-width: $tab-size ) {
        max-width: 400px;
    }
}

fieldset{
    display: grid;
    row-gap: 20px;
}
