<form [formGroup]="regForm" (ngSubmit)="onRegistr()" class="window">
    <h2 class="window__title">Регистрация {{ groupName ? '(' + groupName + ')' : '' }}</h2>

    <div class="fields">
        <fieldset>
            <input type="text" formControlName="name" placeholder="Имя" name="name" class="inp-primary">
            <input type="text" formControlName="last_name" placeholder="Фамилия" name="last_lame" class="inp-primary">
            <input type="text" formControlName="phone" placeholder="Телефон" name="phone" prefix="+7" mask="(000)000-00-00" class="inp-primary">
        </fieldset>
    

        <fieldset>
            <input type="text" formControlName="email" placeholder="Электронная почта" name="email" class="inp-primary">
            <app-password-control [control]="regForm.controls['password']"></app-password-control>
            <app-password-control [control]="regForm.controls['password_confirm']" placeholder="Повторите пароль"></app-password-control>
        </fieldset>
    </div>
    <!-- <app-password-control [control]="regForm.controls['password']"></app-password-control> -->
    <button class="btn-primary window__btn" [disabled]="loading" style="width: 230px;">
        <btn-loader text="Зарегистрироваться" [loading]="loading"></btn-loader>
    </button>
</form>
<!-- <form class="window" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h2 class="window__title">Войти в личный кабинет</h2>
    <fieldset>
        <input type="email" placeholder="E-mail" autocomplete="email" class="inp-primary" formControlName="email">
        <input type="password" formControlName="password" placeholder="Пароль" class="inp-primary">
    </fieldset>

    <button class="btn-primary window__btn">
        <btn-loader text="Войти" [loading]="loading"></btn-loader>
    </button>

    <a routerLink="/auth/registration">Регистрация</a>
</form> -->
