@import '/src/environments/device-sizes.scss';

nav{
    padding: 25px 130px; 
    border-bottom: 2px solid #FF7A00;

    display: grid;
    a{
        display: grid;
    }
    @media screen and ( max-width: $tab-size ) {
        padding: 20px 40px;
    }

    > :last-child{
        justify-self: end;
    }
}


.links{
    column-gap: 20px;
}


.link{
    display: grid;
    row-gap: 3px;
    justify-items: center;

    &__icon{
        height: 30px;
    }

    &__title{
        font-size: 14px;
        line-height: 100%;
    }
}
